name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  release:
    if: github.repository == 'ydb-platform/ydb-ui-components'
    runs-on: ubuntu-latest
    steps:
      - uses: gravity-ui/release-action@v1
        with:
          github-token: ${{ secrets.YDB_PLATFORM_BOT_TOKEN_REPO }}
          npm-token: ''
          node-version: 24
